html, body {
    height: 100%;
    width: 100%;
    font-family: helvetica, serif;
    overflow: hidden;
}

#header-container {
    width: 250px;
    margin-left: 20px;
    margin-top: 50px;
}

#title h1 {
    font-weight: 200;
    margin: 10px 0px;
    color: #333;
}

.title-sub {
    font-size: 16px;
    font-weight: 200;   
    padding: 2px;
    margin: 0px;
}

#title a {
    margin-bottom: 20px;
}

#title a:link {
    color: #333;
    text-decoration: none;
}

#title a:visited {
    color: #333;
    text-decoration: none;
}

#title a:hover{
    text-decoration: overline;
}

#menu {
    list-style-type: none;
    padding: 0%;
    font-size: 16px;
}

#menu a:link {
    color: steelblue;
    text-decoration: none;
    margin-bottom: 4px;
    border-bottom: 1px solid;
    display: inline-block;
}

#menu a:visited {
    color: steelblue;
    text-decoration: none;
}

#menu a:hover{
    color:#333;
}

#about {
    line-height: 1.4;
    max-width: 700px;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    padding: 0 20px;
}

#about a:link {
    color: steelblue;
    text-decoration: none;
    display: inline-block;
}

#about a:visited {
    color: steelblue;
    text-decoration: none;
}

#about a:hover{
    text-decoration: overline;
}

#spam {
    font-size: 8px;
    text-align: right;
}

#stuff {
    max-width: 450px;
    margin: auto;
    padding: 10px;
}

#stuff h3 {
    font-weight: 300;
    border-bottom: 1px solid #333;
    padding-bottom: 4px;
    color: #333;
    margin-bottom: 0;
    text-align: center;
}

#stuff ul {
    list-style-type: none;
    padding-right: 10px;
    font-size: 18px;
    text-align: right;
}

#stuff a:link {
    color: steelblue;
    text-decoration: none;
    margin-bottom: 4px;
    display: inline-block;
}

#stuff a:visited {
    color: steelblue;
    text-decoration: none;
}

#stuff a:hover{
    text-decoration: overline;
}

#email {
    max-width: 250px;
    margin: auto;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    border: 1px solid #333;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    padding: 20px;
    margin: auto;
}

#email a:link {
    color: steelblue;
    text-decoration: none;
    margin-bottom: 4px;
    border-bottom: 2px solid;
    display: inline-block;
}

#email a:visited {
    color: steelblue;
    text-decoration: none;
}

#email a:hover{
    color:#333;
}

.active {
    color: orange !important;
}